.Pokecard{
    width: 200px;
    max-width: 90%;
    box-shadow: 4px 0px 15px #00000050;
    border-radius: 15px;
    margin: 10px auto;
    padding: 0px 5px 15px 5px;
    overflow: hidden;
    text-decoration: center;
    background-color: rgb(204, 29, 29);
    color: white;
}

.Pokecard img{
    width:100px;
    height: auto;
    transition: 1s;
}

.Pokecard-data{
    font-size: 80%;
}

.Pokecard img:hover{
    transform: scale(1.3);
    opacity: .7;
    transition: 1s;
}